<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>List with Textbox on Right Side</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.1.2/dist/tailwind.min.css" />
  </head>
  <header class="px-4 py-2 bg-blue-400 flex">
    <div>
      <button mat-button [matMenuTriggerFor]="menu" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navigateProducts()">Products</button>
      </mat-menu>
    </div>
    <h1 class="text-9xl font-normal leading-normal mt-0 mb-2 text-white">
      Taxes
    </h1>
  </header>
  <body>
    <div class="container mx-auto py-8 flex flex-col">
      <div>
        <button mat-icon-button (click)="addItem()" color="primary" aria-label="Adding an item to the list">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteItem()" matTooltip="Primary" color="primary" aria-label="Deleting an item on the list">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
      <mat-selection-list #taxData [(ngModel)]="selectedItems"(ngModelChange)="onNgModelChange($event)">
        <div *ngFor="let taxItem of taxList">
          <mat-list-option class="flex justify-between items-center py-2 border-b border-gray-300" [value]="taxItem">
            <app-tax-item [itemName]="(taxItem.itemName)" [tax]="(taxItem.tax)" />
          </mat-list-option>          
        </div>
      </mat-selection-list>
    </div>
  </body>
</html>